* {
    font-family: 'Century Gothic';
}

body {
    margin: 0;
    padding: 0;
    background-color: #010409;
    
    .editor {
        display: flex;
    
        form, .view {
            width: 50%;
        }
    
        form {
            textarea {
                width: calc(100% - 20px);
                height: calc(100vh - 25px);
                background-color: #0D1117;
                border: 0;
                font-size: 24px;
                color: #ffffff;
                padding: 10px;

                &:active, &:focus {
                    border: 0;
                    outline: 0;
                }
            }

            button {
                height: calc(8vh - 15px);
                width: 100%;
                margin: 0;
                background-color: #30363D;
                border: 0;
                margin-top: -5px;
                color: #ffffff;
                text-transform: uppercase;
                font-size: 24px;
                letter-spacing: 1.5px;
                cursor: pointer;
                transition: 0.2s;

                &:hover {
                    opacity: 0.7;
                }
            }
        }

        .view {
            background-color: #010409;
            height: calc(100vh - 25px);
            padding: 10px;
            font-size: 25px;
            color: #ffffff;
            word-wrap: break-word;
        }
    }
}
